%h1 Listing movies

.search
  = form_tag movies_path, method: :get do
    /= label_tag(:search, "Search for a Movie")
    = text_field_tag :search
    = submit_tag "Search", name: nil

.results
  - if @movies.blank?
    %h2
      No Results found
  - else
    = render @movies

= will_paginate @movies
